<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings>
<showGrid>true</showGrid>
<snapToGrid>true</snapToGrid>
<gridSize>35</gridSize>
<showNodesName>true</showNodesName>
<compareMode>false</compareMode>
<startingDir>/home/sh0t/ObjectH.pnml</startingDir>
<executionDelay>600</executionDelay>
</settings>